<!-- <mat-card>
    <mat-form-field style="display: block; margin: 20px;">
        <mat-label>Select sector</mat-label>
        <mat-select>
            <mat-option value="Oil and Gas">Oil & Gas</mat-option>
            <mat-option value="Banking">Banking</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field style="display: block; margin: 20px;">
        <mat-label>Company</mat-label>
        <mat-select>
            <mat-option value="PPL">PPL</mat-option>
            <mat-option value="HBL">HBL</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field style="display: block; margin: 20px;">
        <mat-label>Data Type</mat-label>
        <mat-select>
            <mat-option value="Balance Sheet">Balance Sheet</mat-option>
            <mat-option value="Income Statement">Income Statement</mat-option>
            <mat-option value="Notes">Notes</mat-option>
        </mat-select>
    </mat-form-field>
</mat-card> -->
<mat-card class="mat-elevation-z8">
    <mat-card-title>Upload PDF</mat-card-title>
    <br>
    <mat-card-content>
        <form (ngSubmit)="onSubmit()">
            
            <input style="display: block; margin-top: 30px;" type="file" name="file" (change)="saveFile($event)">
            <mat-form-field style="display: block; margin-top: 30px; width: 50%;" appearance="outline">
                <mat-label>Enter page number containing financial statements</mat-label>
                <input matInput type="number" name="page_no" [(ngModel)]="page_no">
            </mat-form-field>
            <section>
                <mat-checkbox class="checkbox" name="double_page" [(ngModel)]="double_page">Double Page {{double_page}}
                </mat-checkbox>
                <mat-checkbox class="checkbox" name="next_page" [(ngModel)]="next_page">Next page {{next_page}}
                </mat-checkbox>
            </section>
            <button mat-raised-button type="submit">
                UPLOAD
            </button>
        </form>
    </mat-card-content>
</mat-card>