.match-parent {
    width: 1500px;
    height: 70%;
    border-radius: 10px;
    margin-left: 180px;
    border: solid 2px;
  }

  .mapHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-bottom: 0px;
    width: 75%;
    margin-left: 240px;
    padding-top: 10px;
    border-radius: 20px;
  
  }

  .ng-select .ng-select-container {
    width: 200px;
    }
    
     .ng-select.ng-select-single .ng-select-container {
    width: 200px;   
    }

    .flyToLocation {
        background-color: white;
        width: 210px;
        height: 200px;
        padding-top: 10px;
        padding-left: 5px;
     }
     
     .marker {
        background-image: url('../../assets/marker.png');
        background-size: cover;
        border-radius: 50%;
        cursor: pointer;
      }

      img {
        width: 20px;
        height: 20px;
        display: inline-flex;
        padding-right: 4px;  
        padding-left: 5px;
      }
      
     
  