<!--Table1 and Image1-->
<div class="container">
    <mat-grid-list cols="2" rowHeight="100%">
        <mat-grid-tile class="table">
            <div>
                <p-table #dt [columns]="tableHeader" [value]="rows"
                 [scrollable]="true" scrollHeight="600px">
                    <ng-template pTemplate="header">
                        <tr>
                            <th *ngFor="let header of tableHeader" style="width: 150px; display: inline-block;">
                                {{header}}
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowdata let-i="rowIndex" let-columns="columns">
                        <tr>
                            <td *ngFor="let col of columns" pEditableColumn style="width: 150px;">
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <input pInputText type="text" style="width: 100px;" [(ngModel)]="rowdata[col]" required>
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{rowdata[col]}}
                                    </ng-template>
                                </p-cellEditor>
                            </td>
                             <td style="text-align:center">
                                <button mat-raised-button (click)="newRow(i)" color="primary" style="width: 90px;">
                                    Add row
                                </button>
                            </td> 
                            </tr>
                    </ng-template>
                </p-table>
                <br />
                <!-- <button pButton type="button" icon="pi pi-plus" class="ui-button-info" [label]="'Add'" pAddRow
                    [table]="dt" [newRow]="newRow()"></button> -->
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <img src={{image1}} style="width: 700px; height: 700px;">
        </mat-grid-tile>
    </mat-grid-list>
</div>

<!--If Table2 and Image2-->
<div *ngIf="image2" class="container2">
    <mat-grid-list cols="2" rowHeight="100%">
        <mat-grid-tile>
            <div>
                <p-table #dt2 [columns]="tableHeader2" [value]="rows2"
                    [scrollable]="true" scrollHeight="600px">
                    <ng-template pTemplate="header">
                        <tr>
                            <th *ngFor="let header of tableHeader2" style="width: 150px; display: inline-block;">
                                {{header}}
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowdata let-i="rowIndex" let-columns="columns">
                        <tr>
                            <td *ngFor="let col of columns" style="width: 150px;" pEditableColumn>
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <input pInputText style="width: 100px;" type="text" [(ngModel)]="rowdata[col]" required>
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{rowdata[col]}}
                                    </ng-template>
                                </p-cellEditor>
                            </td>
                            <td style="text-align:center">
                                <button mat-raised-button (click)="newRow2(i)" color="primary" style="width: 90px;">
                                    Add row
                                </button>
                            </td>
                            </tr>
                    </ng-template>
                </p-table>
                <br />
                <!-- <button pButton type="button" icon="pi pi-plus" class="ui-button-info" [label]="'Add'" pAddRow2
                    [table]="dt2" [newRow2]="newRow2()"></button> -->
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <img src={{image2}} style="width: 700px; height: 700px;">
        </mat-grid-tile>
    </mat-grid-list>
</div>
<div style="text-align: center; margin: 20px;" >
    <button mat-raised-button (click)="verifyCsv()" style=" margin-top: 20px; background-color: black; color: white;">Verify CSV</button>
</div>